.logo{
display: flex;
padding: 2%;
background-color: rgb(73, 73, 189);

}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    width: 100%;
    align-items: center;
   

    justify-content: end;
}

a{
    color: white;

}

.active{
    background-color: rgb(202, 6, 127);
}